@{
    ViewBag.Title = "人脉";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>人脉</title>
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/opensans.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/jquery-ui-1.10.3.full.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/chosen.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/daterangepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/datepicker.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-timepicker.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ui.jqgrid.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-rtl.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/ace-skins.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/fullcalendar.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/style.css")" />
    <script src="@Url.Content("~/assets/js/ace-extra.min.js")"></script>
</head>
}

@section featured{
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@Url.Content("~/Successful/Today")">主页</a>
                </li>

                <li class="active">人脉</li>
            </ul>
        </div>
    </div>

    <!--------------------------------------------------------------------------------------------------------------------------------------------->
<!-- basic scripts -->
<!--[if !IE]> -->
<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-2.0.3.min.js")'>" + "<" + "/script>");
</script>

<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
     window.jQuery || document.write("<script src='@Url.Content("~/assets/js/jquery-1.10.2.min.js")'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='@Url.Content("~/assets/js/jquery.mobile.custom.min.js")'>" + "<" + "/script>");
</script>
<script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/assets/js/typeahead-bs2.min.js")"></script>
<script src="@Url.Content("~/assets/js/fullcalendar.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/bootstrap-timepicker.min.js")"></script>
<!-- page specific plugin scripts -->
<!-- ace scripts -->
<script src="@Url.Content("~/assets/js/jqGrid/jquery.jqGrid.min.js")"></script>
<script src="@Url.Content("~/assets/js/jqGrid/i18n/grid.locale-en.js")"></script>
<script src="@Url.Content("~/assets/js/jquery-ui-1.10.3.full.min.js")"></script>
<script src="@Url.Content("~/assets/js/jquery.ui.touch-punch.min.js")"></script>

<script src="@Url.Content("~/assets/js/date-time/daterangepicker.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/assets/js/date-time/moment.min.js")"></script>
<script src="@Url.Content("~/assets/js/chosen.jquery.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace-elements.min.js")"></script>
<script src="@Url.Content("~/assets/js/ace.min.js")"></script>
<script src="@Url.Content("~/Scripts/publiclib.js")"></script>
<script src="@Url.Content("~/Scripts/leftmenu.js")"></script>
<script src="@Url.Content("~/Scripts/syslib.js")"></script>

<!-- inline scripts related to this page -->
<!--------------------------------------------------------------------------------------------------------------------------------------------->
}